
.login-modal {
    display: none;
    background-color: white;
    width: 40%;
    max-width: 568px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    z-index: 100;
    box-sizing: border-box !important;
    padding: 32px !important;
}
#close-modal{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.body-modal-show{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow: hidden;
    z-index: 1;
    background-color: #484848;
}